@model IEnumerable<MusicStore.Models.Album>

<table class="table">
    <thead>
        <tr>
            <th width="100"></th>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.YearRelease)</th>
        </tr>
    </thead>
    <tbody>
        @foreach(Album album in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-controller="Album" asp-route-id="@album.ID" class="btn btn-success">
                        View
                    </a>
                </td>
                <td>@Html.DisplayFor(model => album.Name)</td>
                <td>@Html.DisplayFor(model => album.YearRelease)</td>
            </tr>
        }
    </tbody>
</table>