@model IEnumerable<MusicStore.Models.Song>

<table class="table">
    <thead>
        <th width="150">@Html.DisplayNameFor(model => model.TrackNumber)</th>
        <th width="100">@Html.DisplayNameFor(model => model.Duration)</th>
        <th>@Html.DisplayNameFor(model => model.Name)</th>      
    </thead>
    <tbody>
        @foreach(Song song in Model)
        {
            <tr>
                <td>@Html.DisplayFor(model => song.TrackNumber)</td>
                <td>@Html.DisplayFor(model => song.Duration)</td>
                <td>@Html.DisplayFor(model => song.Name)</td>
            </tr>
        }
    </tbody>
</table>
